.rc-slider-handle {
    border: #122C3F !important;
    background-color: #122C3F !important;
    opacity: 1;
}

.rc-slider-track {
    background-color: #122C3F !important
}

.rc-slider-mark {
    font-size: .65rem !important;
    position: absolute;
    top: 14px;
    left: 0;
    width: 100%;
}